<div class="panel panel-default object-params">
	<div class="panel-heading">{{title}}</div>
	<form name="form">
		<table class="table table-condensed">
			<tr ng-repeat="p in items">
				<td>{{p.description}}</td>
				<td class="col-md-5">
					<div class="form-group" ng-if="p.type==='input'">
						<div ng-class="{'input-group':p.unit}">
							<input ng-model="model[p.id]"
							       type="number" class="form-control input-sm" placeholder="{{p.default_value}}"/>
							<span class="input-group-addon" ng-show="p.unit">{{p.unit}}</span>
						</div>
					</div>
					<div class="form-group" ng-if="p.type==='select'">
							<select ng-model="model[p.id]"
							        class="form-control input-sm"
							        ng-options="option.value as option.name for option in p.options"></select>

					</div>
				</td>
			</tr>
		</table>
	</form>
</div>
