<div class="body-content">
	<div class="col-sm-2 col-xs-2"></div>
	<div class="col-sm-8 col-xs-8">
		<wizard-header step="'lan3'"></wizard-header>
		<!-- alert messages -->
		<div>
			<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
				<span class="{{alert.icone}}"></span>
				{{alert.msg}}
			</uib-alert>
		</div>

		<!-- NUMBER OF PUPILS -->
		<form class="form-horizontal form-container-school-wizard-bd1"
			  name="schoolWizardBroadbandForm4" ng-submit="$ctrl.submit()" novalidate>

			<div class="form-group"
				 ng-class="{ 'has-error' : schoolWizardStep1Form1.name.$invalid && !schoolWizardStep1Form1.name.$pristine }">
				<label class="col-sm-4 control-label no-padding-right" translate>users.textfield1</label>
				<div class="col-sm-8">
						<span class="block input-icon input-icon-right">
							<input ng-focus="" ng-model="$ctrl.model.number_pupils"
								   type="text" name="name"
								   class="form-control" ng-maxlength="30">
						</span>
					<p class="error-inline"
					   ng-show="schoolWizardStep1Form1.name.$dirty && schoolWizardStep1Form1.name.$invalid"
					   translate>
						<span class="glyphicon glyphicon-exclamation-sign"></span>
						location.name
					</p>
				</div>
			</div>

			<div class="form-group"
				 ng-class="{ 'has-error' : schoolWizardStep1Form1.name.$invalid && !schoolWizardStep1Form1.name.$pristine }">
				<label class="col-sm-4 control-label no-padding-right" translate>users.textfield2</label>
				<div class="col-sm-8">
						<span class="block input-icon input-icon-right">
							<input ng-focus="" ng-model="$ctrl.model.number_teachers"
								   type="text" name="name"
								   class="form-control" ng-maxlength="30">
						</span>
					<p class="error-inline"
					   ng-show="schoolWizardStep1Form1.name.$dirty && schoolWizardStep1Form1.name.$invalid"
					   translate>
						<span class="glyphicon glyphicon-exclamation-sign"></span>
						location.name
					</p>
				</div>
			</div>

			<div class="form-group"
				 ng-class="{ 'has-error' : schoolWizardStep1Form1.name.$invalid && !schoolWizardStep1Form1.name.$pristine }">
				<label class="col-sm-4 control-label no-padding-right" translate>users.textfield3</label>
				<div class="col-sm-8">
						<span class="block input-icon input-icon-right">
							<input ng-focus="" ng-model="$ctrl.model.number_administrative"
								   type="text" name="name"
								   class="form-control" ng-maxlength="30">
						</span>
					<p class="error-inline"
					   ng-show="schoolWizardStep1Form1.name.$dirty && schoolWizardStep1Form1.name.$invalid"
					   translate>
						<span class="glyphicon glyphicon-exclamation-sign"></span>
						location.name
					</p>
				</div>
			</div>

			<div class="form-group">
				<span><a href="" ng-click="$ctrl.gotoUsrExt()" translate>users.link</a></span>
				<span translate>users.content</span>
			</div>
			<bottom-buttons btn-right="$ctrl.gotoNext()" btn-left="$ctrl.previous()" textleft="'cancel'"
							textright="'continue'"></bottom-buttons>
		</form>
	</div>
</div>
