<div class="modal-header">
	<h4 class="modal-title" translate>
		admin-project.deplevelpart1<strong>{{techParam.description}}</strong> admin-project.deplevelpart2
	</h4>
</div>
<div class="modal-body tech-params">
	<form name="form">
		<table class="table table-condensed">
			<tbody>
			<tr ng-repeat="p in model">
				<td>{{p.name}}</td>
				<td class="col-md-5">
					<div class="btn-group">
						<label class="btn btn-default" ng-model="p.weight" uib-btn-radio="'0'" translate>admin-project.notdepend</label>
						<label class="btn btn-default" ng-model="p.weight" uib-btn-radio="'0.5'" translate>admin-project.partdepend</label>
						<label class="btn btn-default" ng-model="p.weight" uib-btn-radio="'1'" translate>admin-project.depend</label>
					</div>
				</td>
			</tr>
			</tbody>
			<thead>
			<tr>
				<th translate>admin-project.paramsofobjects</th>
				<th translate>admin-project.dependency</th>
			</tr>
			</thead>
		</table>
	</form>
</div>
<div class="modal-footer">
	<button class="btn btn-primary" type="button" ng-disabled="progress" ng-click="ok()" translate>admin-project.savelevels</button>
	<button class="btn btn-warning" type="button" ng-disabled="progress" ng-click="dismiss()" translate>admin-project.cancel</button>
</div>

