<div class="body-content" ng-app="gigaApp" ng-controller="ForgetPasswordController">
    <div class="page-forgetpassword">
        <div class="form-container-forgetpassword">
            <h4>Forget Password</h4>
            <div class="alert-container" ng-show="alertMessage">
                <div class="alert" ng-class="{'alert-success': alertType === 'success', 'alert-danger': alertType === 'danger'}">
                    {{ alertMessage }}
                </div>
            </div>
            <!-- Step 1: Send Verification Code Form -->
            <form name="sendCodeForm" ng-submit="submitSendCodeForm()" novalidate>
                <div class="form-group">
                    <label for="email">Email:</label>
                    <input type="email" id="email" class="form-control" placeholder="Enter your email"
                           ng-model="user.email" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary" ng-disabled="sendCodeForm.$invalid || loading">Send Verification Code</button>
                </div>
            </form>

            <!-- Step 2: Reset Password Form -->
            <form name="resetPasswordForm" ng-submit="submitResetPasswordForm()" novalidate>
                <div class="form-group">
                    <label for="verificationCode">Verification Code:</label>
                    <input type="text" id="verificationCode" class="form-control" placeholder="Enter the verification code"
                           ng-model="user.code" required>
                </div>
                <div class="form-group">
                    <label for="newPassword">New Password:</label>
                    <input type="password" id="newPassword" class="form-control" placeholder="Enter new password"
                           ng-model="user.newPassword" required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success" ng-disabled="resetPasswordForm.$invalid || loading">Reset Password</button>
                </div>
            </form>
            <!-- Button to return to the previous page -->
            <div class="form-group">
                <button class="btn btn-link" ng-click="goBack()">Return to Previous Page</button>
            </div>
        </div>
    </div>
</div>
