<div class="body-content">
	<div class="col-sm-2 col-xs-2"></div>
	<div class="col-sm-8 col-xs-8">
		<wizard-header step="'broadband8'"></wizard-header>
		<!-- alert messages -->
		<div>
			<uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">
				<span class="{{alert.icone}}"></span>
				{{alert.msg}}
			</uib-alert>
		</div>


		<!-- GEOLOCATION DATA -->
		<form class="form-horizontal form-container-school-wizard-bd1"
			  name="schoolWizardBroadbandForm7" ng-submit="$ctrl.submit()" novalidate>
			<div class="form-group">
				<label class="col-sm-4 control-label no-padding-right" translate>rb-and-ga.textfield1</label>
				<div class="col-sm-8">
						<span class="block input-icon input-icon-right">
							<input ng-focus="" ng-model="$ctrl.model.number_administrative"
								   type="text" name="name"
								   class="form-control" ng-maxlength="30">
						</span>
					<p class="error-inline"
					   ng-show="schoolWizardStep1Form1.name.$dirty && schoolWizardStep1Form1.name.$invalid"
					   translate>
						<span class="glyphicon glyphicon-exclamation-sign"></span>
						location.name
					</p>
				</div>
			</div>

			<div class="panel panel-default configuration-type">
				<div class="panel-body">
					<div class="form-group" style="padding: 1rem;">
						<p translate>rb-and-ga.content.p</p>
						<p translate>rb-and-ga.content.p2</p>
						<p><a href="www.openmap.org" translate>rb-and-ga.content.link</a></p>
						<p translate>rb-and-ga.content.p3</p>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label no-padding-right"
							   translate>geolocation.textfield2</label>
						<div class="col-sm-8">
						<span class="block input-icon input-icon-right">
							<input ng-focus="" ng-model="$ctrl.model.number_administrative"
								   type="text" name="name"
								   class="form-control" ng-maxlength="30">
						</span>
							<p class="error-inline"
							   ng-show="schoolWizardStep1Form1.name.$dirty && schoolWizardStep1Form1.name.$invalid"
							   translate>
								<span class="glyphicon glyphicon-exclamation-sign"></span>
								location.name
							</p>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-4 control-label no-padding-right"
							   translate>geolocation.textfield3</label>
						<div class="col-sm-8">
						<span class="block input-icon input-icon-right">
							<input ng-focus="" ng-model="$ctrl.model.number_administrative"
								   type="text" name="name"
								   class="form-control" ng-maxlength="30">
						</span>
							<p class="error-inline"
							   ng-show="schoolWizardStep1Form1.name.$dirty && schoolWizardStep1Form1.name.$invalid"
							   translate>
								<span class="glyphicon glyphicon-exclamation-sign"></span>
								location.name
							</p>
						</div>
					</div>
				</div>
			</div>

<!--			<div class="form-group">-->
<!--				<div class="col-sm-6 text-center">-->
<!--					<button type="submit" class="btn btn-primary btn-lg btn-block"-->
<!--							ng-disabled="schoolWizardStep1Form1.$invalid || loading" translate>-->
<!--						buttons.cancel-->
<!--					</button>-->
<!--				</div>-->
<!--				<div class="col-sm-6 text-center">-->
<!--					<button ng-click="$ctrl.gotoNext()" class="btn btn-primary btn-lg btn-block"-->
<!--							ng-disabled="schoolWizardStep1Form1.$invalid || loading" translate>-->
<!--						buttons.continue-->
<!--					</button>-->
<!--				</div>-->
<!--			</div>-->
			<bottom-buttons btn-right="$ctrl.gotoNext()" btn-left="$ctrl.previous()" textright="'continue'"
							textleft="'cancel'"></bottom-buttons>
		</form>
	</div>
</div>
